
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html { 
    height: 100%;
    width: 100%;
    background: url("https://images.unsplash.com/photo-1587324438673-56c78a866b15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80") no-repeat center center fixed; 
    background-size: cover;
  }



  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    font-family: Roboto, sans-serif;
  }
 
  .buffer {
    margin-top: 2rem;
    border-top: 2px solid rgba(255, 254, 177, .5); 
    min-width: 30%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .title {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 254, 177, .2);
    border-radius: 30px;
    padding: 10px 40px;
    /* margin: 20px 20px; */
  
  }


button {
  background-color: rgb(255, 254, 177);
  border-radius: 5px;
  padding: 10px 20px;
  /* margin: 20px 20px; */
  box-shadow: -1px 2px 10px 1px rgb(83, 45, 45,.5);
  font-family: Roboto, sans-serif;
  border: none;

}

button:hover {
  background-color: rgb(206, 108, 198);
  transform: scale(1.2);
  transition-duration: .5s;
  cursor: pointer;
}

.title:hover {
  box-shadow: -1px 2px 10px 10px rgb(83, 45, 45,.1);
  transform: scale(1.03);
  transition-duration: .5s;

}